<div class="chat-list">
    <div class="chat-list__head">
        <div class="actions">
            <div class="actions__avatar"></div>
            <a href="settings" class="router">{{{ settings }}}</a>
            <div class="actions__create-chat">Создать чат</div>
        </div>
        <div class="search">{{{ search }}}</div>
    </div>
    <div class="chat-list__main">
        <div class="dialogs"></div>
    </div>
</div>