<div class="login">
    <h1>Вход</h1>
    {{{ login }}}
    {{{ password }}}
    <a href="chat" class="router">
        {{{ sign }}}
    </a>
    <a href="register" class="router">
        {{{ register }}}
    </a>
</div>