<div class="login">
    <h1>Вход</h1>
    {{{ login }}}
    {{{ password }}}
    <span class="router">
        {{{ sign }}}
    </span>
    <span class="router">
        {{{ register }}}
    </span>
</div>
