<div class="chat-content">
    <div class="top-bar">
        <div class="top-bar__user-info">
            <div class="user-info">
                <div class="user-info__avatar"></div>
                <div class="user-info__name">Вадим</div>
            </div>
        </div>
        <div class="top-bar__actions">...</div>
    </div>
    <div class="content">
      {{#each messages}}
        <div class="message">
          <div class="message__user">от {{ this.user_id }}</div>
          <div class="message__text">{{ this.content }}</div>
        </div>
      {{/each}}
    </div>
    <div class="message-bar">
        <div class="message-bar__attachment"></div>
        <div class="message-bar__message-row">
            {{{ messageRow }}}
        </div>
        <div class="message-bar__send">
            {{{ sendButton }}}
        </div>
    </div>
</div>
