<div class="avatar">
    <input type="file" name="avatar" id="avatar" class="avatar__input">
    <label for="avatar">
            <img src="{{{img}}}" class="avatar__picture" alt="avatar photo">
    </label>
</div>